#go-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    outline: 0;
    border: solid 4px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    z-index: 9999;
    color: black;
  }

@media screen and (min-width: 0px) and (max-width: 900px) {
    #menu { display: none; }
  }
  
@media screen and (min-width: 901px) {
    #Hamburger { display: none; }
  }